<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>News NLP</title>
    </head>

    <body>
        <header>
            <h1>News NPL</h1>
        </header>
        <main>
            <form onsubmit="return Client.handleSubmit(event);">
                <textarea rows="20" placeholder="Article Text/HTML/URL goes here.." id="article"></textarea>
                <div class="buttons">
                    <button id="submit" type="submit">Submbit</button>
                    <button id="reset" type="reset">Reset</button>
                </div>
            </form>
            <div class="result-container" id="result">
                <h2>Result:</h2>
            </div>
        </main>
        <footer>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>